rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sandbox/{state}{
      allow read, write: if state == "success";
    }
  }
}